.quote {
    font-family: 'Indie Flower', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Pacifico', cursive;
}

.home {
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}
